.DS_Store
**/.DS_Store
game/[Ll]ibrary/
game/[Tt]emp/
game/[Oo]bj/
game/[Ll]ogs/
game/[Uu]ser[Ss]ettings/
game/[Mm]emoryCaptures/
game/[Rr]ecordings/
game/[Bb]uild/
game/[Bb]uilds/
builds/*
!builds/.gitkeep
.idea/
.vs/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.blend1
*.blend2
__pycache__/
*.pyc
.env
.env.*
